.search-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.search-layer li {
    list-style: none;
}
.logo {
    cursor: pointer;
}
.logo h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: #026896;
    font-size: 36px;
    margin: 0;
}
.logo h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    color: #736b6b;
}
.search-form {
    border-radius: 24px;
    background: #e7ebef;
    border: none;
    width: 574px;
    height: 40px;
    /* margin: 20px 0; */
}
.search-input {
    background: #e7ebef;
    border: none;
    height: 80%;
    margin: 3px;
    margin-left: 15px;
}

#profile-pic {
    border-radius: 24px;
}
#arrow {
    height: 8px;
    width: 14px;
    margin: 0 6px;
}
.dashboard-button {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    height: fit-content;
    align-self: center;
    border-bottom: 3px solid #026893;
    text-decoration: none;
    margin-right: 3em;
}
